@import url('https://fonts.googleapis.com/css2?family=Forum&family=Marcellus&family=Montserrat:wght@400;600&family=Shippori+Mincho+B1:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}

.hero{
    background-color: antiquewhite;
    width: 100%;
}

.hero .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 0.5fr;
    width: 70%;
    margin: auto;
}

.hero .container .image{
    grid-row: span 2;
}

.hero .container .image img{
    height: 400px;
    width: 400px;
    padding: 1rem;
}

.hero .container .details{
    position: relative;
}

.hero .container .details p{
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-family: 'Forum', serif;
    font-size: 24px;
}

.hero .container .location{
    
}

.hero .container .location a{
    text-decoration: none;
    margin-left: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-color: rgb(224, 38, 140);
    padding: 8px 8px;
    width: 120px;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .hero .container{
        display: flex;
        flex-direction: column;
        height: auto;
        padding-bottom: 1rem;
    }

    .hero .container .image img{
        width: 100%;
        height: auto;
        margin-top: 2rem;
    }

    .hero .container .details p{
        position: inherit;
    }

    .hero .container .location a{
        margin-bottom: 1rem;
    }
}

